.card-block {
    display: grid;
    border: 2px solid black;
}

p {
    color: black;
    padding-left: 5px;
}

.card-block .text-info .items .img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    display: grid;
    place-items: center;
}

.card-block .items {
    border: 1px solid black;
}

.img {
    display: grid;
    place-items: center;
    margin-left: 65px;
    margin-top: 40px;
}

.card-block .img img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
}

.card-block .text-info {
    font-weight: 100;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
}